html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}


body {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 8px;
  font-size: 50px;
  font-family: 'Quintessential', cursive;
}

h2, p {
  font-size: 20px;
  margin: 8px;
  font-weight: bold;
}


#chips {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 8px;
}

#dealer-side, #player-side {
  flex-direction: column;
}

#dealer-side > h3 {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

#dealer-message,
#player-message {
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 35px;
}

#bet-amt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  height: auto;
}

#hit-stand-buttons {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

#place-bet {
  display: flex;
  justify-content: center;
}

#dealer-card-one,
#dealer-card-two,
#player-card-one,
#player-card-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#dealer-cards,
#player-cards {
  display: flex;
  justify-content: center;
}

#player-cards > div{
  margin-bottom: 20px;
}

#player-cards {
  margin-bottom: 0px;
  padding-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

#d-card-total {
  display: flex;
  justify-content: left;
  margin-bottom: 2px;
}

#hit,
#stand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 10px 16px;
  border: 3px solid rgba(0, 0, 0, .3);
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

#p-card-total,
#d-card-total {
  display: flex;
  font-size: 30px;
  border: 2px solid black;
  margin-top: 0;
  height: 50px;
  width: 50px;  
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}

#hit:hover,
#stand:hover {
  background-color: red;
  color: white;
}


#deal,
#all-in {
  margin-top: 30px;
  height: 40px;
  width: 60px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 24px;
}

.chips {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

h4,
#dollar-amount {
  font-size: 25px;
}

h4 {
  padding-right: 15px;
}

#bank {
  height: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

#play-again {
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  border-radius: 24px;
}

#bet-amount {
  height: 25px;
}

.card-container {
  height: 143px;
  margin-bottom: 5px;
}

h5 {
  margin: 0px;
}

@media only screen and (max-height: 1000px) and (max-width: 400px) {
  body{
    max-height: 100vh;
  }
  .card-container {
    height: 50px
  }
}
